<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <!-- form ici -->
      <form >
        <div class="fields">
          <input type="text" name="name" class="input" placeholder="Votre Nom">
        </div>
        <div class="fields">
          <input type="email" name="email" class="input" placeholder="Votre Email">
        </div>
        <div class="fields">
          <input type="textarea" name="message" class="input" placeholder="Je vous ecoute">
        </div>
        <button type="submit" class="button is-danger is-large">envoyer</button>
      </form>
    </div>
  </div>
</section>
