<!-- logo  -->
<nav class="navbar is-dark">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="assets/img/angular.svg" alt="" />
    </a>
  </div>
  <!-- menu -->
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="">Home</a>
      <a class="navbar-item" routerLink="contact">Contact</a>
      <a class="navbar-item" routerLink="products">Produits</a>
      <a class="navbar-item" routerLink="about">à Propos</a>
      <a class="navbar-item" routerLink="cart">Panier</a>
    </div>
  </div>
</nav>
